:root{

	--artpink : #ff3175;
	--darkpurple:#413045;
}


.site-navbar{
	background-color: var(--artpink);
}

.logoimg{
	max-height: 4rem;
}

.navtext{
	color: var(--darkpurple);
	font-size: 1em;
	color: white;
}

.section-title-text{
	color:var(--artpink);
	 
}

.heading-1{
  position:relative;
  text-align: center
}
.heading-1:before {
  content: "";
  display: block;
  border-top: solid 2px var(--artpink);
  width: 100%;
  height: 2px;
  position: absolute;
  top: 50%;
  z-index: 0;
}
.heading-1 span {
	color: var(--artpink);
  background: #fff;
  padding: 0 20px;
  position: relative;
  z-index: 1;
}

.price-text{
	color: var(--artpink);
	font-weight: 600;
}

.see-more{
	text-decoration: none;
	font-size: 1.25em;
	color:black;
}




